<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container-fluid">
        <h2>Basic Card</h2>
        <div class="card">
            <div class="card text-white bg-secondary">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <div style="overflow:auto; height:500px; " >
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">d_codigo</th>
                                <th scope="col">d_asenta</th>
                                <th scope="col">d_tipo_asenta</th>
                                <th scope="col">D_mnpio</th>
                                <th scope="col">d_estado</th>
                                <th scope="col">d_ciudad</th>
                                <th scope="col">d_CP</th>
                                <th scope="col">C_estado</th>
                                <th scope="col">c_oficina</th>
                                <th scope="col">c_CP</th>
                                <th scope="col">c_tipo_asenta</th>
                                <th scope="col">c_mnpio</th>
                                <th scope="col">id_asenta_cpcons</th>
                                <th scope="col">d_zona</th>
                                <th scope="col">c_cve_ciudad</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    {{estado}}
                </div>
              </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>